/* start line no. in css.
header css=>11
home css=>51
About=> 70
Service=>146
project=>183
Contact=>230
footer=>270


/*header css*/
.header {
  background-color: rgb(22, 22, 22);

  width: 100%;
  height: 100px;
  background-image: url("img/CNS_logo.jpg");
  background-repeat: no-repeat;
  background-size: 50px 55px;
  background-position: 40px 40px;
}
#headercontent {
  margin-left: 90px;
  padding-top: 40px;
  padding-bottom: 5px;
  color: white;
  font-weight: bolder;
}
#headerpara {
  margin-left: 90px;
  margin-top: -30px;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}
/*header links css start*/
#headerlinks {
  margin-top: -50px;
  float: right;
  font-size: 20px;
  margin-right: 5px;
}
a {
  color: white;
  margin-right: 15px;
  font-weight: 100;
}
/*Home start*/
#home {
  width: 100%;
  height: 450px;
  border: 2px solid black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP4krAjDzmnvJMeUfHdBptUU3sa9K2WsAMZw&s");
  background-size: 90% 500px;
}
#homecontent {
  width: 900px;
  height: 400px;
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 70px;
  font-style: italic;
  color: rgb(12, 12, 12);
}

/*About start*/
#About {
  width: 100%;
  height: 700px;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwaFbCSDJsjOzlYPQ3yQn5a2C-eXMtYVZ6tA&s");

  background-repeat: no-repeat;
  background-size: 30% 300px;
  background-position: 14.5% 90px;
}
#Aboutcontent {
  width: 30%;
  height: 300px;
  border: 2px solid black;
  margin-right: 20%;
  position: relative;
  bottom: 300px;
  float: right;
}
#About:after {
  content: "";
  display: block;
  clear: both;
}

#Aboutimage {
  margin-top: 50px;
  width: 30%;
  height: 300px;
  margin-left: 10%;
  border: 2px solid black;
}
#font {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
.cards {
  width: 100%;
  height: 220px;

  position: relative;
}
#card1 {
  position: absolute;
  left: 20px;
}
#card2 {
  position: absolute;
  left: 35%;
}
#card3 {
  position: absolute;
  left: 68%;
}
.cardstyle {
  width: 28%;
  height: 100px;
  margin: 1%;
  padding: 1%;
  color: white;
  text-align: center;
  background-color: #be4ea2;
  border: 2px solid rgb(119, 33, 119);
  border-radius: 5px;
}
.Subheader {
  width: 100%;
  text-align: center;
  background-color: rgb(68, 67, 67);
  color: white;
}

/*Services Start*/
.services {
  width: 100%;
  height: 1150px;
  border: 2px solid black;
  position: relative;
}
.service-head {
  text-align: center;
}
.servicecard {
  width: 650px;
  height: 950px;
  border: 2px solid black;
}
#servicecardbasic {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9a6nq5sdgDxEsPYB3Rf1XpejKgBaSzvtlFQ&s");
  background-size: 600px 400px;
  background-position: 25px 100px;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  position: absolute;
  left: 10px;
}
#servicecardadvance {
  background-image: url("https://www.knowmad.com/hubfs/webdesign-photo.jpg");
  background-size: 600px 400px;
  background-position: 25px 100px;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  position: absolute;
  left: 675px;
}
#basiccontent {
  position: absolute;
  top: 500px;
  font-weight: bolder;
  font-size: 30px;
}
li {
  margin: 1%;
  padding: 1%;
}
/*Project Start*/
#project {
  width: 100%;
  height: 1350px;
  background-color: aquamarine;
  margin-top: 10px;
  border: 2px solid black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeV4hu8_0d1mM57FSlKiQaWtGHB7XY75Sf8w&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ04WgtYIlaubjZZBnTCJa_1wFbHDso3u2oUQ&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqRKV9rShSsa8nmiSWTIHJlIWI1CALQQtQOQ&s"),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTN5LIfEKNlx8WdUdQ-zrIV5ukuL0G7FvQ5Q&s");
  background-size: 600px 500px, 600px 500px, 600px 500px, 600px 500px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 5% 100px, 90% 100px, 5% 700px, 90% 700px;
  position: relative;
}
.projectbutton {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 2px;
  border-radius: 10px;
}
#button01 {
  position: absolute;
  top: 1250px;
  left: 20%;
}

#button02 {
  position: absolute;
  top: 1250px;
  left: 65%;
}
#but01 {
  position: absolute;
  top: 625px;
  left: 20%;
}
#but02 {
  position: absolute;
  top: 625px;
  left: 65%;
}

/*Contact Start*/

#contact {
  margin-top: 15px;
  width: 100%;
  height: 500px;
  background-color: gainsboro;
  border: 2px solid black;
}
.client {
  position: relative;
}
#form {
  width: 500px;
  height: 250px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDakuGSveW8Xj9V5-HpBGQ7gvofbIFF8wRUA&s");
  background-repeat: no-repeat;
  background-size: 525px 275px;
  background-position: 0px 0px;
  position: absolute;
  top: 85px;
  left: 30%;
}

.width {
  width: 90%;
  height: 25px;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
button {
  color: white;
  background-color: black;
}

/*FOOTER START*/
div h5 {
  width: 100%;
  height: 10px;
  background-color: rgb(12, 12, 12);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  position: relative;
  top: 80px;
}
.footer {
  width: 100%;
  height: 200px;
}
